{% extends 'base.html' %}

{% block title %}
  Интернет аптека | О сайте
{% endblock %}

{% block body %}
  <div class="card">
    <div class="card-header">
      <h1>Взаимодействие между контейнерами</h1>
      <div class="card-body">
        <h3>Цель:</h3>
        <p>В этом ДЗ вы настроите взаимодействие между контейнерами.</p>
        <ul class="list">
          <li>создайте docker-compose файл, настройте там связь базы данных и веб-приложения</li>
          <li>добавьте в свой проект модели. Это могут быть те же модели, что были использованы
            для сохранения данных с открытого API, это может быть и что-то новое</li>
          <li>добавьте возможность добавлять записи</li>
          <li>создайте страницу, на которой записи выводятся</li>
          <li>база данных должна быть в отдельном контейнере</li>
          <li>бонусом будет, если приложение будет запускаться не в <strong>debug режиме</strong>,
            а уже <strong>production-ready</strong></li>
        </ul>
        <h3>Критерии оценки:</h3>
        <ul class="list">
          <li>docker-compose файл присутствует и работает</li>
          <li>приложение взаимодействует с БД</li>
          <li>в приложении есть возможность добавить записи, они сохраняются в БД</li>
          <li>в приложении есть страница, которая выдаёт доступные записи (вытаскивает из БД)</li>
        </ul>
      </div>
      <div class="card-footer text-dark">
        <span class="badge bg-primary text-dark">Домашняя работа №6</span>
        <span class="badge bg-primary text-dark">Гладков Андрей</span>
        <span class="badge bg-primary text-dark">01.08.2021</span>
      </div>
    </div>
  </div>
{% endblock %}