{% extends 'base.html'%}

{% block title %}
  Главная страница
{% endblock %}

{% block body %}
  <div>
    <h1>Docker контейнер</h1>
    <hr>
    <h3>Задача:</h3>
    <ul class="list">
      <li>соберите зависимости для своего веб-приложения</li>
      <li>создайте Dockerfile с установкой зависимостей и запуском веб-сервера</li>
      <li>допишите в заголовок файла комментарий с информацией о том, как запустить этот контейнер
        (<em>можно готовую строчку запуска с проброшенными портами и тд</em>)</li>
    </ul>
    <h3>Критерии оценки:</h3>
    <ul class="list">
      <li>Dockerfile создан</li>
      <li>зависимости устанавливаются отдельно</li>
      <li>после этого копируется всё приложение</li>
      <li>приложение запускается</li>
      <li>объявлено, какой порт нужно использовать (<em>директива <strong>EXPOSE</strong></em>)</li>
      <li>есть комментарий с информацией о том, как запускать этот контейнер</li>
    </ul>
  </div>
{% endblock %}